<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCuGpvfVmKIp0Rzfp2NlavJ2xQda1ifWj8</string>
	<key>GCM_SENDER_ID</key>
	<string>769568338259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nms.App</string>
	<key>PROJECT_ID</key>
	<string>nms-dev-koudelkab</string>
	<key>STORAGE_BUCKET</key>
	<string>nms-dev-koudelkab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769568338259:ios:93e92de1f2b8940445f1a6</string>
</dict>
</plist>